[submodule "submodules/zsh/antigen"]
	path = submodules/zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "submodules/vim/dein.vim"]
	path = submodules/vim/dein.vim
	url = git@github.com:Shougo/dein.vim.git
